{% extends "index.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <div class="content">
            <p>Welcome to ScrapDict, your go-to destination for powerful web scraping tools and resources.</p>
            <p>At ScrapDict, we're passionate about unlocking the potential of web data. Our platform empowers users to extract valuable information from websites effortlessly and efficiently. Whether you're a data enthusiast, a business analyst, or a developer, ScrapDict provides the tools and knowledge you need to gather insights and make informed decisions.</p>
            <p>Our team is comprised of seasoned professionals with extensive experience in web scraping and data analysis. We're dedicated to delivering reliable, user-friendly solutions that streamline the web scraping process and enhance productivity.</p>
            <p>Thank you for choosing ScrapDict. We're excited to embark on this journey with you.</p>
            <h2>Contact Us</h2>
            <ul class="contact-list">
                <li><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/scrapdict/" target="_blank"></a></li>
                <li><i class="far fa-envelope"></i></li>
                <li><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/scrapdict/" target="_blank"></a></li>
                <li><i class="fab fa-discord"></i></li>
            </ul>
        </div>
    </div>
</body>
</html>


{% endblock %}