<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sacrapdict</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="navbar">
            <div id="logo"><h2>Scrapdict</h2></div>
            <div id="options">
                <p>Home</p>
                <p>Web Srcapring</p>
                <p>Directory Enumeration</p>
                <p>About Us</p>
                <p>Contact</p>
            </div>
        </div>
        
    <div id="page">
            <div id="strip"><p>Advancements in Directory Enumeration and Web Scraping</p></div>
            <div id="modules">
                <div id="box1">Web Sracping Module</div>
                <div id="box2">Directory Enumeration Module</div>
            </div>
        </div>
    </div>
</body>
</html>